*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}
nav{
    display: contents;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #146C94;

}
nav ul li a:hover{
    color: blue;
}
.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: #146C94;
}
.detel p{
    color: #555;
    line-height: 22px;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .background-shape{
    bottom: 40px;
}
.images .professional-picture{
    padding-left: 300px;
    border-radius: 10%;
}
.images .background-shape{
    width: 80%;
    padding-left: 300px;
}
.images:hover .professional-picture{
    left: 45%;
    padding-left: 300px;
}

@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
.div
{
    background: #eff4fd;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.hidden
{
    display: none !important;
}
.main-content
{
    padding-left: 270px;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.div .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.div-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.div-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.div-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.div-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #eff4fd;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    text-decoration: none;
    background: #19A7CE;
    transition: all 0.3 ease;
}
.btn:hover
{
    transform: scale(1.05);
}
.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/* About */
.about{
    background: #eff4fd;
}
.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #19A7CE;
}
.about .about-content .about-text h3 span{
    color: #AFD3E2;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #146C94;
}
.about .about-content .personal-info
{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #146C94;
    border-bottom: 1px solid var(#f6f1f1);
}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
/* Assuming .padd-15 class adds padding of 15px */

.skills .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the left */
    gap: 15px; /* Gap between skill items */
}

.skill-item {
    flex: 0 0 calc(33.33% - 15px); /* Three items per row with gap */
    max-width: calc(33.33% - 15px);
    margin-bottom: 10px;
    color: #146C94;
}


/* service */
.service .container
{
    padding-bottom: 40px;
    align-items: center;
}
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service .service-item .service-item-inner
{
    background-color: #19A7CE;
    color: #eff4fd;
    border: 1px solid var(#0059ff);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all0.3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #0059ff;
}
.service .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}
/* portfolio */
.portfolio{
    background: #eff4fd;
}
.portfolio .container
{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: #146C94;
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner
{
    border: 6px solid var(#eff4fd);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
}
/* contact  */
.contact-title
{
    color: #146C94;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    color: #146C94;
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #eff4fd;
    border: 1px solid var(#eff4fd);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}
@media (max-width: 1199px)
{
    .aside
    {
        left: -270px;
    }
    .main-content
    {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
    };
}
@media (max-width: 991px)
{
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        display: none;
    }
}
@media (max-width: 767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.text{
    color: white;
}
.center {
    display: inline-block;
    text-align: center;
    width: 100%;
}
/* portfolio */
#portfolio{
    padding: 50px 50px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #0059ff);
    color: whitesmoke;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #146C94;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
    width: 100%;
}
.btn1{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #19A7CE;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #19A7CE;
    transition: background 0.5s;
}
.btn1:hover{
    background: #19A7CE;
    color: #fff;
}
/* Contact */
#contact{
    padding: 50px 70px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #19A7CE;
    margin-right: 10px;
    font-size: 25px;
}
.contact-link{
    color: #19A7CE;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #19A7CE;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#ababab;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #19A7CE;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #eff4fd;
    padding: 15px;
    margin: 15px 0;
    color: #555;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* pitch */
.pitch{
    padding: 55px;
}
.pitch-h3-text{
    color: #0059ff;
    font-size: 30px;
}
.pitch-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}